{% extends 'user.html' %}

{% block title %}Изменение профиля{% endblock %}

{% block content %}
<div class="container">
    <h1 class="h3 mb-3 fw-normal">Изменение профиля</h1><br><br>
  <form action="" method="post">
      <input class="form-control" type="text" name="name" placeholder="Имя" value="{{ datauser.name }}">
        <br>
      <textarea class="form-control" name="description" placeholder="Описание">{{ datauser.description }}</textarea>
        <br>
      <button class="btn btn-primary" type="submit">Изменить</button>

  </form>
    </div>
    {% endblock %}